<div>
    <div fxLayoutAlign="space-around" fxFlex="80" fxFlexOffset="10">
        <img src="../../../assets/BookVision.png">
    </div>
</div>

<div *ngIf="books" class="post-container">
    <div *ngFor="let book of books" fxLayoutAlign="space-around" fxFlex="24" fxFlexOffset="7" style="margin-bottom:5px;">
      <md-card style="width: 100%">
        <md-card-header>
            <md-card-title><h2>{{ book.title }}</h2></md-card-title>
        </md-card-header>
        <div class="image">
            <img src="http://fit.kbtu.kz:8080{{ book.cover }}" style="width:120px; height:200px;">
        </div>
        
        <md-card-content>
            <h3>Author - {{ book.author.first_name }} {{ book.author.last_name }}</h3>
            <h4>Genre - {{ book.genre }}</h4>
        </md-card-content>
            <button md-button color="warn" (click)="goToDetail(book)">Book Detail</button>
            <button *ngIf="loggedInBool" md-button color="warn" (click)="addWishList(book.id)" aria-label="Show an example snack-bar">Add to Wish List</button>
        </md-card>
    </div>
</div>