<md-toolbar color="primary">
  <div class="button-row">
    <button routerLink="/books" md-button>Book List</button>
    <button routerLink="/author" md-button>Author</button>
    <button routerLink="/blog" md-button>Blogs</button>
    <button routerLink="/my_page" md-button>My Page</button>
    <button md-button [mdMenuTriggerFor]="menu">
      Bazaar <md-icon>keyboard_arrow_down</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button routerLink="/bazaar" md-menu-item>
        <span>Bazaar ads</span>
      </button>
      <button routerLink="/bazaar/create" md-menu-item>
        <span>Create ad</span>
      </button>
  </md-menu>
  </div>
  <div *ngIf="loggedIn()" class="button-row">
    <button md-button>
      I am, {{ username }}
    </button>
  </div>
  <div class="button-row">
    <button md-button (click)="openSignupDialog()">Register</button>
    <button *ngIf="!username" md-button (click)="openLoginDialog()"> Log in</button>
    <button *ngIf="username" md-button (click)="logout()">Log out</button>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
