<md-toolbar color="primary">
  <div class="button-row">
    <button routerLink="/books" md-button>Book List</button>
    <button routerLink="/author" md-button>Author</button>
    <button routerLink="/blog" md-button>Blogs</button>
  </div>
  <div *ngIf="loggedIn()" class="button-row">
    <button md-button>
      I am, {{ username }} <md-icon>keyboard_arrow_down</md-icon>
    </button>
  </div>
  <div class="button-row">
    <button md-button (click)="openSignupDialog()">Register</button>
    <button *ngIf="!username" md-button (click)="openLoginDialog()"> Log in</button>
    <button *ngIf="username" md-button (click)="logout()">Log out</button>
  </div>
</md-toolbar>
<router-outlet></router-outlet>