<div>
    <div fxLayoutAlign="space-around" fxFlex="80" fxFlexOffset="10">
        <img src="../../../assets/author.png" alt="Author page">
    </div>
</div>

<div *ngIf="authors" class="post-container">
  <div *ngFor="let author of authors" fxLayoutAlign="space-around" fxFlex="24" fxFlexOffset="7" style="margin-bottom:5px;">
    <md-card style="width: 100%;">
        <md-card-title>{{ author.first_name }} {{ author.last_name }}</md-card-title>
        <div class="image">
          <img src="http://bookshelf.life:8080{{ author.avatar }}" style="width:250px; height:300px" alt="author image}">
        </div>
        <md-card-actions>
            <button (click)="goToDetail(author)" md-ripple="warn" color="primary" md-button>
              Read more
            </button>
        </md-card-actions>
    </md-card>
  </div>
</div>