<div class="post-container" fxLayout="column" fxLayoutAlign="space-around">
    <md-card style="width: 100%;">
        <h1>{{ pageTitle }}</h1>
        <div>
            <div class="div-image">
                <img class="roundrect" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" width="200px" height="200px">        
            </div>
            <div class="div-content">
                 <md-card-subtitle>Username: {{ user.username }}</md-card-subtitle>
                 <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
    </md-card>
    <md-tab-group>
        <md-tab label="Wish List"><wish-list></wish-list></md-tab>
        <md-tab label="Quotes"><quote></quote></md-tab>
        <md-tab label="Posts"><app-user-posts></app-user-posts></md-tab>
    </md-tab-group>
</div>
    
